html {
    height:100%;
}

#body_div{
    background-image:url("/static/target_predict_back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
}
.up_title{
    margin-top: 4%;
    text-align: center;
    color: #4472C4;
    text-shadow: 2px 2px white;
}

.input_drug_form{
    margin-top: 4%;
}

.input_row_XXX{
    margin-top: 20px;
    min-height: 50px;
    height: 50px;
}

.input_label_XXX{
    font-size: 1.5em;
}

.probability_label{
    font-size: 1.2em;
    position: relative;
    top: -3px;
}

.btn_XXX{
    height: 45px;
}

.error_msg_XXX{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    color: red;

}

.table_res_XXX{
    table-layout:fixed;
}

.show_label_molecule_XXX{
    font-size: 1.8em;
    color: darkgreen;
    position: relative;
    top: 129px;
}

.pic_show_XXX{
    margin-top: 2%;
}