<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>药物靶标预测平台</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body id="body_div">
    <div id="upper">
    </div>
    <div class="container slogan">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1 class="sloganh1">用大数据助力医疗</h1>
                        <h1 class="sloganh1">用人工智能改变健康</h1>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
{#            <div class="col-lg-1"></div>#}
            <div class="col-lg-4">
                <a href="DTI" target="_blank"><img src="/static/enter1.png" alt="error" class="img-rounded"></a>
            </div>
{#            <div class="col-lg-2"></div>#}
            <div class="col-lg-4">
                <a href="searchDrug" target="_blank"><img src="/static/enter2.png" alt="error" class="img-rounded"></a>
            </div>
{#            <div class="col-lg-2"></div>#}
            <div class="col-lg-4">
                <a href="targetPredict" target="_blank"><img src="/static/enter4.png" alt="error" class="img-rounded"></a>
            </div>
{#            <div class="col-lg-1"></div>#}
        </div>
    </div>




{#    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->#}
{#    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}
{##}
{#    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->#}
{#    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
</body>
</html>