<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>靶标蛋白库</title>
    <link rel="stylesheet" href="/static/protein_base.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body id="body_div">
    <div class="up_title">
        <h1>
            靶标蛋白信息库
        </h1>
    </div>
    <table class="table table_res_XXX" style="word-break:break-all; word-wrap:break-spaces;">
        <thead>
            <tr>
                <th style="width: 5%">序号</th>
                <th style="width: 10%">靶标蛋白ID</th>
                <th style="width: 85%">蛋白氨基酸序列</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
                <tr class="active">
                <td>{{ line.0 }}</td>
                <td>{{ line.1 }}</td>
                <td>{{ line.2 }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>